## Question 1

In [146]:
import pandas as pd
import requests
import urllib.request
from bs4 import BeautifulSoup
import numpy as np

Create Beautiful Soup Object from Wikipedia site

In [147]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
page = urllib.request.urlopen(url)
soup = BeautifulSoup(page, 'html.parser')

Get table from page and iterate over each row, splitting at the '\n' and adding as list to list

In [148]:
table = soup.find_all('table')[0]
list = []
rows = table.find("tbody").find_all("tr")
for row in rows:
    list.append(row.get_text().split('\n')[1:4])

Create Dataframe using first row as columns

In [132]:
df = pd.DataFrame(list[1:], columns=list[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Get the index of rows where borough is not assigned and drop

In [133]:
na_index =df[df['Borough']== 'Not assigned'].index
na_index
df.drop(na_index, inplace=True)

df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Reset the Index

In [134]:
df.reset_index(drop=True,inplace=True)
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

Group by Postcode, joining neighborhood values with a comma and resetting the index

In [135]:
df = df.groupby(['Borough','Postcode'])['Neighbourhood'].apply(', '.join).reset_index()

In [136]:
df.head()

           Borough Postcode                Neighbourhood
0  Central Toronto      M4N                Lawrence Park
1  Central Toronto      M4P             Davisville North
2  Central Toronto      M4R           North Toronto West
3  Central Toronto      M4S                   Davisville
4  Central Toronto      M4T  Moore Park, Summerhill East

Reordering the dataframe according to specs

In [137]:
df = df[['Postcode', 'Borough', 'Neighbourhood']]
df.head()

  Postcode          Borough                Neighbourhood
0      M4N  Central Toronto                Lawrence Park
1      M4P  Central Toronto             Davisville North
2      M4R  Central Toronto           North Toronto West
3      M4S  Central Toronto                   Davisville
4      M4T  Central Toronto  Moore Park, Summerhill East

Finding the index where neighborhood is not assigned then iterating through index to replace with value for borough

In [149]:
na_index1 =df[df['Neighbourhood']== 'Not assigned'].index

for x in range(len(na_index1)):
    if df.loc[na_index1[x], 'Neighbourhood'] == 'Not assigned' :
        df.loc[na_index1[x], 'Neighbourhood'] = df.loc[na_index1[x],'Borough']

In [145]:
df.shape

(103, 3)